@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

.show {
  display: block;
}

// .hide-board {
//   display: none;
// }

.box {
  background-color: #e6e6fa;
  border: 1px solid #db7093;
  color: #4b0082;
  display: flex;
  height: 80px;
  justify-content: center;
}
