@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

.show {
  display: block;
}

.message {
  display: flex;
  justify-content: center;
}

.invalid-move {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #e6e6fa;
  border: 1px solid #db7093;
  color: #4b0082;
  display: flex;
  height: 80px;
  justify-content: center;
}

body {
  background-color: #FFF0F5;
}

h1 {
  color: #9370DB;
  font-size: 60px;
  margin: 30px 0 30px 0
}

h1, h4 {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  color: #9370DB
}

.show {
  display: flex;
  justify-content: center
}

#new-game {
  margin: 20px;
  text-align: center;
}

.game-content {
  margin: 10px;
}

.invalid-move {
  color: #ff0000;
}

#change-pw {
  text-align: center;

}

#sign-out {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
}
//

#sign-up-content {
  margin: 20px 0;
  font-size: 25px;
  color: #EE82EE;
  display: flex;
  justify-content: center;
}
